
.form{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 3px;
}

.titleForm{
display: flex;
justify-content: center;
font-size: 45px;
}

.concatFiltro{
  display: inline-flex;
}

.boton{
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.boton:hover{
  background-color: #59220e;
  color:#e5e5e5;
  transition: all 0.3 ease-out;
}