.card{
    position: relative;
    width:350px;
    height:350px;
    color: #f4a261;

    background-size: cover;
    border-radius: 20px;
    overflow:hidden;
    object-fit: cover;
}

.card__content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: #eeac80;
    border-radius: 20px;
    transform: translateY(70px);
    transition:transform .25s;
}

.card__content::before{
    content:"";
    position: absolute;
    top: -47px;
    right:-45px;
    width:100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: #0d1b2a;
}

.card__title{
    color:#343a40;
    line-height: 15px;
}

.card_item_img{
    height: 190px;
    width: 190px;
    align-content: center;
    object-fit: cover;
}

.card__description{
    color:#343a40;
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .card__content{
    transform: translateY(0);
}

.card:hover .card__description{
    opacity:1;
    transition-delay: .25s;
}

@media only screen and (min-width: 1200px){
.content__blog__container {
    width: 84%;
    }
}

@media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }

@media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
} 