
   .navbar-container {
    display: flex;
    font-size: 25px;
    position: sticky;
    top: 0;
    height: 80px;
    max-width: 1500px;
    z-index: 999;
  }
  

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
  }
  
  .nav-item {
    background: linear-gradient(90deg, #264653 100%, #E76F51 0%);
    height: 80px;
  }
  
  .nav-links {
    color: #E76F51;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #F4A261;
    transition: all 0.3s ease-out;
  }
  
  .nav-links-mobile {
    display: none;
  }

  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #2A9D8F;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      background-color: #E76F51;
      color: #242424;
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #F4A261;
      color: #242424;
      border-radius: 0;
    }
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: black;
      padding: 14px 20px;
      border: 1px solid #F4A261;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  } 